{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% load static %}
{% load multi_currency_tags %}

{% block header %}
    <h1>{{ auction.title }}</h1>
{% endblock %}

{% block main %}
    <h4>Sold by: {{ auction.seller }}</h4>
    {% if auction.banned %}
        <h3>BANNED</h3>
    {% elif auction.over == True %}
        <h3>Auction over</h3>
        {% if auction.winner %}
            {{ auction.winner.username }} won!
        {% endif %}
    {% endif %}



    <ul id="messages" class="messages">
        {% if messages %}
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        {% endif %}
    </ul>

    
    {% if request.user.username == auction.seller.username %}
        <a class="button" href="{{ request.build_absolute_uri }}/edit">Edit auction</a>
    {% endif %}

    {% if request.user.is_staff %}
        {% if auction.banned %}
            <form id="unbanauctionform" method="post">
                {% csrf_token %}
                <input type="submit" name="unbanauctionbutton" value="Unban auction">
            </form>
        {% else %}
            <form id="banauctionform" method="post">
                {% csrf_token %}
                <input type="submit" name="banauctionbutton" value="Ban auction">
            </form>
        {% endif %}
    {% endif %}

    <div class="description">
        <p>{{ auction.description }}</p>
    </div>
    <div class="deadline">
        <label>Deadline:</label> <p>{{ auction.deadline }}</p>
    </div>
    <div class="minimum_price">
        {% if not current_bid %}
            <label>Minimum price:</label>
            <p>
                {% exchange_currency auction.minimum_price source_symbol='EUR' dest_symbol=request.user.profile.currency loggedin=request.user.is_authenticated %}
            </p>
        {% endif %}
    </div>
    <div class="current_bid">
        <label>Current bid:</label>
            {% if current_bid %}
                {% if current_bid.bidder.username == request.user.username %}
                    <div><b>You</b></div>
                {% else %}
                    <div>{{ current_bid.bidder.username }}</div>
                {% endif %}
                <div>{% exchange_currency current_bid.amount source_symbol='EUR' dest_symbol=request.user.profile.currency loggedin=request.user.is_authenticated %}</div>
            {% else %}
                No bids.
            {% endif %}
    </div>

    {% if not auction.over %}
        {% if not request.user.is_authenticated %}
            <p>
                You need to log in in order to bid on this auction.
            </p>
        {% elif current_bid.bidder.username == request.user.username %}
            <p>
                You are the latest bidder.
            </p>
        {% elif request.user.username == auction.seller.username %}
            <p>
                You are the owner of this auction and can therefore not bid on it.
            </p>
        {% elif auction.winner != None %}
            <p>
                {{ auction.winner.username }} won the auction!
            </p>
        {% else %}
            <div class="bidform">
                <input id="bidamount" type="number" step="0.01">
                <button id="bidbutton" type="submit" name="bidbutton">Bid</button>
            </div>
        {% endif %}

    {% endif %}
{% endblock %}