{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% load static %}
{% load multi_currency_tags %}

{% block header %}
    <h1>Create a new auction</h1>
{% endblock %}

{% block main %}
	<p>Are you sure you want to create this auction?</p>

	<div class="row">
		<label class="auctionattribute key">Title:</label>
		<div class="auctionattribute value">{{ auctioninfo.title }}</div>
	</div>

	<div class="row">
		<label class="auctionattribute key">Description:</label>
		<div class="auctionattribute value">{{ auctioninfo.description }}</div>
	</div>
	<div class="row">
		<label class="auctionattribute key">Minimum price:</label>
		<div class="auctionattribute value">
			{% exchange_currency auctioninfo.minimum_price source_symbol=request.user.profile.currency dest_symbol=request.user.profile.currency loggedin=request.user.is_authenticated %}
		</div>
	</div>
	<div class="row">
		<label class="auctionattribute key">Deadline:</label>
		<div class="auctionattribute value">{{ auctioninfo.deadline }}</div>
	</div>

	<form id="newauctionform" method="post">
		{% csrf_token %}
		<input type="submit" name="yesbutton" value="Yes">
		<input type="submit" name="nobutton" value="No">
	</form>
{% endblock %}