{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% load static %}

{% block header %}
    <h1>Editing: {{ auction.title }}</h1>
{% endblock %}

{% block main %}
    <form id="editauctionform" method="post">
        {{ form.non_field_errors }}
        {{ form.errors }}
            {% csrf_token %}
                {% for field in editauctionform %}
                    <div class="field_container">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
        <button type="submit">Save</button>
    </form>
{% endblock %}