{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% load static %}

{% block header %}
    <h1>Welcome to the Auction House</h1>
{% endblock %}

{% block main %}

    
    <ul id="messages" class="messages">
        {% if messages %}
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        {% endif %}
    </ul>
    
    <input type="text" placeholder="Auction search term" id="auction_search_input"></li>
    <button id="auction_search_button" type="button">Search</button>
    <button id="auction_search_reset_button" type="button">Show all auctions</button>

    <ul id="searched_auctions" class="auctions searched">
    </ul>
{% endblock %}