{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% load static %}

{% block header %}
    <h1>Create a new auction</h1>
{% endblock %}

{% block main %}
    <form id="newauctionform" method="post">
        {{ newauctionform.non_field_errors }}
        {{ newauctionform.errors }}
        {% csrf_token %}
        <div class="field_container">
            {{ newauctionform.title.errors }}
            {{ newauctionform.title.label_tag }}
            {{ newauctionform.title }}
        </div>
        <div class="field_container">
            {{ newauctionform.description.errors }}
            {{ newauctionform.description.label_tag }}
            {{ newauctionform.description }}
        </div>
        <div class="field_container">
            {{ newauctionform.minimum_price.errors }}
            {{ newauctionform.minimum_price.label_tag }}
            {{ newauctionform.minimum_price }} {{ request.user.profile.currency }}
        </div>
        <div class="field_container">
            {{ newauctionform.deadline.errors }}
            {{ newauctionform.deadline.label_tag }}
            {{ newauctionform.deadline }}
        </div>
        <button type="submit">Save</button>
    </form>
{% endblock %}