{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% load static %}

{% block header %}
    <h1>Hi, {{ request.user.username }}, {{ request.user.email }}</h1>
{% endblock %}

{% block main %}
	<a href="settings" class="button">Settings</a>
	<a href="newauction" class="button">Start new auction</a>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3>Your auctions</h3>
    {% for auction in auctions %}
    	<a href="/auction/{{ auction.id }}" class="auction profile">
    		{{ auction.title }}
    	</a>
    {% empty %}
    	<div class="info">You currently have no active auctions</div>
    {% endfor %}
{% endblock %}