{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% load static %}

{% block header %}
    <h1>registration</h1>
{% endblock %}

{% block main %}
    <h1>home main</h1>
    <form id="registrationform" method="post">
        {{ form.non_field_errors }}
        {% csrf_token %}
            {% for field in form %}
                <div class="field_container">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
        	{% endfor %}
        <button type="submit">Register</button>
    </form>
{% endblock %}