{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% load static %}

{% block header %}
    <h1>Settings for {{ request.user.username }}</h1>
{% endblock %}

{% block main %}
    <form id="usersettingsform" method="post">
        {{ usersettingsform.non_field_errors }}
        {{ usersettingsform.errors }}
        {% csrf_token %}
        <div class="section">
	        <div class="field_container">
	            {{ usersettingsform.currency.errors }}
	            {{ usersettingsform.currency.label_tag }}
	            {{ usersettingsform.currency }}
	        </div>
    	</div>
    	<div class="section">
	        <div class="field_container">
	            {{ usersettingsform.new_email.errors }}
	            {{ usersettingsform.new_email.label_tag }}
	            {{ usersettingsform.new_email }}
	        </div>
	        <div class="field_container">
	            {{ usersettingsform.new_email_confirm.errors }}
	            {{ usersettingsform.new_email_confirm.label_tag }}
	            {{ usersettingsform.new_email_confirm }}
	        </div>
	    </div>
	    <div class="section">
	        <div class="field_container">
	            {{ usersettingsform.new_password.errors }}
	            {{ usersettingsform.new_password.label_tag }}
	            {{ usersettingsform.new_password }}
	        </div>
	        <div class="field_container">
	            {{ usersettingsform.new_password_confirm.errors }}
	            {{ usersettingsform.new_password_confirm.label_tag }}
	            {{ usersettingsform.new_password_confirm }}
	        </div>
	    </div>
        <div class="section">
	        <div class="field_container">
	            {{ usersettingsform.current_password.errors }}
	            {{ usersettingsform.current_password.label_tag }}
	            {{ usersettingsform.current_password }}
	        </div>
        	<button type="submit">Save</button>
    	</div>
    </form>
{% endblock %}