{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>AuctionHouse - {{ pagetitle }}</title>
        <link media="screen, projection" rel="stylesheet" href="{% static 'css/stylesheets/screen.css' %}" type="text/css">
        <link media="print" rel="stylesheet" href="{% static 'css/stylesheets/print.css' %}" type="text/css">
        <!--[if IE]>
            <link rel="stylesheet" href="{% static 'css/stylesheets/ie.css' %}">
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="container">
            <nav id="mainmenu">
                <ul>
                    <li>
                        <a {% if absurl == "/" %} class="current" {% endif %} href="/">{% trans "home" %}</a>
                    </li>
                </ul>
            </nav>
            <nav id="sidemenu">
                <ul>
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="/logout">{% trans "logout" %}</a>
                    </li>
                    <li>
                        <a {% if absurl == "profile" %} class="current" {% endif %} href="/profile">{% trans "profile" %} ({{ request.user.username }})</a>
                    </li>
                    {% else %}
                    <li>
                        <a {% if absurl == "login" %} class="current" {% endif %} href="/login">{% trans "login" %}</a>
                    </li>
                    <li>
                        <a {% if absurl == "register" %} class="current" {% endif %} href="/register">{% trans "register" %}</a>
                    </li>
                    {% endif %}
                    <li id="languageswitching">
                        <a class="language" href="/language?language=sv">{% trans "Swedish" %}</a>
                        <a class="language" href="/language?language=en">{% trans "English" %}</a>
                    </li> 
                </ul>
            </nav>
            <header>
                {% block header %}
                {% endblock %}
            </header>
            <main>
                {% block main %}
                {% endblock %}
            </main>
            <footer>
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="{% static 'js/ajax.js' %}"></script>
        <script>
        $(document).ready(function() {

            // In order to avoid errors when auction isn't present from the backend.
            {% if "/auction/" in request.path %}
                $('#bidbutton').click(function() {
                    makeBid({{ auction.id }}, $('#bidamount').val(), {{ auction.version }}, "{{ token }}");
                });
            {% endif %}
            item = sessionStorage.getItem('tempmsg')
            if(item !== undefined && item !== null) {
                popTempMsg();
            }

            if(location.pathname == "/") {
                var data = sessionStorage.getItem('tempmsg')
                if (data !== undefined & data !== null) {
                    document.getElementById('messages').innerHTML = data
                }
                
                searchForAuction('');
                $('#auction_search_button').click(function() {
                    searchForAuction($('#auction_search_input').val());
                });

                $('#auction_search_reset_button').click(function() {
                    searchForAuction('');
                })
            }
        });
        </script>
    </body>
</html>