{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% load static %}

{% block header %}
    <h1>login</h1>
{% endblock %}

{% block main %}
    <h1>login main</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if passwordchanged %}
        <div class="notice positive">Successfully changed your password</div>
    {% endif %}
    {% if emailchanged %}
        <div class="notice positive">Successfully changed your email</div>
    {% endif %}
    <form id="loginform" method="post">
        {{ form.non_field_errors }}
        {% csrf_token %}
            {% for field in form %}
                <div class="field_container">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
        <button type="submit">Log in</button>
    </form>
{% endblock %}