{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% load static %}

{% block header %}

{% endblock %}

{% block main %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form id="auctionsearchform" method="get">
        {{ auctionsearchform.non_field_errors }}
            {% for field in auctionsearchform %}
                <div class="field_container">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
        	{% endfor %}
        <button type="submit">Search</button>
    </form>
    {% for auction in auctionssearched %}
    	<a href="/auction/{{ auction.id }}" class="auction profile">
    		{{ auction.title }}
    	</a>
    {% endfor %}
{% endblock %}